<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Instructionss</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <div class="instruction1-page">
         <nav>
         <ul class="backbtn">
            <li><a href="{{ url_for('instruction') }}"><< Return Back</a></li>
         </ul>
      </nav>
         <nav>
         <ul class="nxtbtn">
            <li><a href="{{ url_for('instruction3') }}"> Next >>> </a></li>
         </ul>
         </nav>
      </div>
   </body>
</html>